.Rhistory
.Rproj.user
data/boldrin-videos.csv
michele-boldrin.Rproj
transcripts
report.md
report_files
transcripts-words-df.csv
key.R
report.md
report2.md
report.Rmd
report2.Rmd
sample-fragment.txt
data/df-topic-modeling.csv
reprex-flatten-bug.Rmd
reprex-flatten-bug.R